Developement Web Application Using NodeRED Service/flows.json
[
    {
        "id": "aa788b7455c3ee01",
        "type": "tab",
        "label": "workspace.defaultName",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a00102538656d6a",
        "type": "ibmiot in",
        "z": "aa788b7455c3ee01",
        "authentication": "apiKey",
        "apiKey": "6760cdd65274e699",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "bin1",
        "applicationId": "",
        "deviceType": "BIN",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "3ac610d9f7adc661",
                "e88cf918adcc799e"
            ]
        ]
    },
    {
        "id": "3ac610d9f7adc661",
        "type": "function",
        "z": "aa788b7455c3ee01",
        "name": "Distance",
        "func": "msg.payload = msg.payload.data.distance;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "87d259a36a2d0c31",
                "3cb1f0938d6203c4"
            ]
        ]
    },
    {
        "id": "e88cf918adcc799e",
        "type": "function",
        "z": "aa788b7455c3ee01",
        "name": "Weight",
        "func": "msg.payload = msg.payload.data.weight;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "b32e9e3d18ef32d6",
                "1f96f376c146390f"
            ]
        ]
    },
    {
        "id": "3cb1f0938d6203c4",
        "type": "ui_gauge",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "2c2ffdc760d1dd2a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bin 1 Distance",
        "label": "m",
        "format": "{{value}}",
        "min": "400",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "b32e9e3d18ef32d6",
        "type": "ui_gauge",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "0fda5af5100e7242",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bin 1 Weight",
        "label": "kg",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "87d259a36a2d0c31",
        "type": "ui_chart",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "2c2ffdc760d1dd2a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Bin 1 Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1f96f376c146390f",
        "type": "ui_chart",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "0fda5af5100e7242",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Bin 1 Weight",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "250",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "21897a0a1e94c32b",
        "type": "ibmiot in",
        "z": "aa788b7455c3ee01",
        "authentication": "apiKey",
        "apiKey": "6760cdd65274e699",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "bin2",
        "applicationId": "",
        "deviceType": "BIN",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "d35ae874d7245028",
                "2e8ec20adf099cfd"
            ]
        ]
    },
    {
        "id": "d35ae874d7245028",
        "type": "function",
        "z": "aa788b7455c3ee01",
        "name": "Distance",
        "func": "msg.payload = msg.payload.data.distance;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "32635c88d2d1bb8a",
                "6420fb103ec56968"
            ]
        ]
    },
    {
        "id": "2e8ec20adf099cfd",
        "type": "function",
        "z": "aa788b7455c3ee01",
        "name": "Weight",
        "func": "msg.payload = msg.payload.data.weight;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "e6972578f6212390",
                "cbcc97d3424c00bc"
            ]
        ]
    },
    {
        "id": "6420fb103ec56968",
        "type": "ui_gauge",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "0613455561fcb5e1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bin 2 Distance",
        "label": "m",
        "format": "{{value}}",
        "min": "400",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "e6972578f6212390",
        "type": "ui_gauge",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "39c00541bdc99f1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bin 2 Weight",
        "label": "kg",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "32635c88d2d1bb8a",
        "type": "ui_chart",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "0613455561fcb5e1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Bin 2 Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cbcc97d3424c00bc",
        "type": "ui_chart",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "39c00541bdc99f1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Bin 2 Weight",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "250",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f50eb4a2e6b322",
        "type": "ibmiot in",
        "z": "aa788b7455c3ee01",
        "authentication": "apiKey",
        "apiKey": "6760cdd65274e699",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "bin3",
        "applicationId": "",
        "deviceType": "BIN",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 170,
        "y": 700,
        "wires": [
            [
                "b6592c0447c6a852",
                "d3d6f4ab0a7633be"
            ]
        ]
    },
    {
        "id": "b6592c0447c6a852",
        "type": "function",
        "z": "aa788b7455c3ee01",
        "name": "Distance",
        "func": "msg.payload = msg.payload.data.distance;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 660,
        "wires": [
            [
                "45536b790195afb6",
                "4ef656e9041a23d6"
            ]
        ]
    },
    {
        "id": "d3d6f4ab0a7633be",
        "type": "function",
        "z": "aa788b7455c3ee01",
        "name": "Weight",
        "func": "msg.payload = msg.payload.data.weight;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 740,
        "wires": [
            [
                "2a7c524222ae9b7e",
                "824efdc0b9724488"
            ]
        ]
    },
    {
        "id": "4ef656e9041a23d6",
        "type": "ui_gauge",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "e8132a2d2e16671c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bin 3 Distance",
        "label": "m",
        "format": "{{value}}",
        "min": "400",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "2a7c524222ae9b7e",
        "type": "ui_gauge",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "eb0b66d56f212ba1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bin 3 Weight",
        "label": "kg",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "45536b790195afb6",
        "type": "ui_chart",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "e8132a2d2e16671c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Bin 3 Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "824efdc0b9724488",
        "type": "ui_chart",
        "z": "aa788b7455c3ee01",
        "name": "",
        "group": "eb0b66d56f212ba1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Bin 3 Weight",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "250",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6760cdd65274e699",
        "type": "ibmiot",
        "name": "BIN",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "2c2ffdc760d1dd2a",
        "type": "ui_group",
        "name": "Distance",
        "tab": "97cddb664cba4fae",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fda5af5100e7242",
        "type": "ui_group",
        "name": "Weight",
        "tab": "97cddb664cba4fae",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0613455561fcb5e1",
        "type": "ui_group",
        "name": "Distance",
        "tab": "f9dd6141a1df62ad",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "39c00541bdc99f1e",
        "type": "ui_group",
        "name": "Weight",
        "tab": "f9dd6141a1df62ad",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8132a2d2e16671c",
        "type": "ui_group",
        "name": "Distance",
        "tab": "71187d228785350c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb0b66d56f212ba1",
        "type": "ui_group",
        "name": "Weight",
        "tab": "71187d228785350c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97cddb664cba4fae",
        "type": "ui_tab",
        "name": "Bin 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f9dd6141a1df62ad",
        "type": "ui_tab",
        "name": "Bin 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "71187d228785350c",
        "type": "ui_tab",
        "name": "Bin 3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]